*{
    font-family: courier;
}

h2 {
    text-align: center;
}

.queueContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
 }

.barContainer{
	width: 100px;
    padding: 10px;
    text-align:center;
}

.barChart {
    width: 30px;
    height: 100px;
    background-color: grey;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}

.bar {
    width: 100%;
    height: 10%;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 10px 10px;
}

.chartsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    height: 320px;
}
.chartContainer{
    width: 510px;
    height: 300px;
    text-align:center;
}
