<template name="eventView">
  {{#if isLoadingEventData}}
    {{> spinner}}
  {{else}}
    {{#each event in eventData}}
      <div class="ui horizontal segments">
        <div class="ui segment">Event #: {{event.event_number}}</div>
        <div class="ui segment">Box ID: {{event.box_id}}</div>
        <div class="ui segment">Start Time: {{event.event_start}}</div>
        <div class="ui segment">End Time: {{event.event_end}}</div>
        <div class="ui segment">
          <button id="{{event.box_id}}-button" class="ui tiny button">Export Data</button>
        </div>
      </div>
      <div class="ui segment">
        {{> eventWaveformChart eventData=event dygraphSync=dygraphSynchronizer}}
      </div>

      <div id="{{event.box_id}}-modal" class="ui modal">
        <div class="header">
          Waveform Data (Event #: {{event.event_number}}, Box ID: {{event.box_id}})
        </div>
        <div class="content">
          <div class="ui form">
            <div class="field">
              <label>Waveform Data</label>
              <textarea>
                {{calibratedWaveformData event.box_id event.waveform}}
              </textarea>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
</template>