.gradle/
*.swp
*/*.pyc
pypi/.idea
pypi/**.pyc
**.pyc
*.pyc
*.o
**.o
proto/
*.ko
*.bin
*.elf
build/
Software/kernel/*.cmd
Software/kernel/.tmp_versions
cmake-build-debug/
Module.symvers
modules.order
opq.mod.c
