<template name="appLayoutPublic">
  {{> header}}

  <div id="left-menu">
    <div class="ui left vertical menu">
      <a class="item" href={{getRoutePath 'researchRoute'}}>
        <i class="home big icon"></i>Home
      </a>
      <a class="item" href={{getRoutePath 'researchRoute'}}>
        <i class="desktop big icon"></i>Public Monitor
      </a>
      <a class="item" href={{getRoutePath 'settingsRoute'}}>
        <i class="setting big icon"></i>OPQBox Settings
      </a>
      <a class="item" href={{getRoutePath 'accountRoute'}}>
        <i class="user big icon"></i>Account
      </a>
    </div>

    <button id="left-menu-expand-toggle" class="ui icon basic mini button" style="margin-top: 10px;">
      <i class="chevron right icon"></i>
    </button>
  </div>

  <div id="right-wrapper">
    <div id="main-content">
      {{> Template.dynamic template=main}}
    </div>
  </div>
</template>