<template name="appLayoutAuth">
  {{> header}}
  <div class="container">
    {{#if currentUser}}
      {{#if canShow}}
        {{> Template.dynamic template=main data=getIsAuthorizedReference}}
      {{else}}
        <p>User is not authorized to view page!</p>
      {{/if}}
    {{else}}
      {{#if loggingIn}}
        {{> loading}}
      {{else}}
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                {{> login withFlashAlert=(flashAlertMsgObj 'Must login to view page!' 'danger' 10)}}
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
</template>