<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>HTML email test</title>
  <link href="styles.css" media="all" rel="stylesheet" type="text/css"/>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
<p>Hi {{firstName}},</p>
<p>Here's what you missed:&nbsp;</p>
<ul>
  {{#each notifications}}
  <li><b>{{this.data.summary}}</b> at {{this.timestamp}}</li>
  {{/each}}
  {{#if extraNotifications}}
  <p>+ {{notificationNum}} more. </p>
  {{/if}}
</ul>
<p>See all your notifications at: <a href="http://emilia.ics.hawaii.edu/#/profile">http://emilia.ics.hawaii.edu/#/profile</a>
</p>
</body>
</html>
