<template name="monthlyTrends">
  {{#if isLoadingMonthlyTrends}}
    {{> spinner}}
  {{else}}
    <canvas id="trendsChart"></canvas>

    <!-- Monthly Trend Data -->
    {{#let mt=getMonthlyTrends}}
    <div class="ui two column grid" style="margin-top: 15px;">
      {{#if mt.voltage}}
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="ui divided grid">
              <div class="six wide center aligned column" style="background: #f7f7f7;">
                <div class="ui large header no-margin-bottom">Voltage</div>
                <div class="ui mini statistic">
                  <div class="value">
                    {{formatDecimals 2 mt.voltage.average}} V
                  </div>
                  <div class="label">
                    Monthly Avg
                  </div>
                </div>
              </div>
              <div class="ten wide column">
                <div class="ui vertically divided grid">
                  <div class="row no-padding-bottom">
                    <div class="sixteen wide column">
                      <div class="ui grid">
                        <div class="seven wide column no-padding-right">
                          <div class="ui mini statistic">
                            <div class="value">
                              <i class="long arrow down icon"></i> {{formatDecimals 2 mt.voltage.min}}
                            </div>
                            <div class="label">
                              Min
                            </div>
                          </div>
                        </div>
                        <div class="nine wide column">
                          <p style="margin-top: 5px;">on {{formatDateShort mt.voltage.minDate}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row no-padding-top no-padding-bottom">
                    <div class="sixteen wide column">
                      <div class="ui grid">
                        <div class="seven wide column no-padding-right">
                          <div class="ui mini statistic">
                            <div class="value">
                              <i class="long arrow up icon"></i> {{formatDecimals 2 mt.voltage.max}}
                            </div>
                            <div class="label">
                              Max
                            </div>
                          </div>
                        </div>
                        <div class="nine wide column">
                          <p style="margin-top: 5px;">on {{formatDateShort mt.voltage.maxDate}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/if}}

      {{#if mt.frequency}}
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="ui divided grid">
              <div class="six wide center aligned column" style="background: #f7f7f7;">
                <div class="ui large header no-margin-bottom">Frequency</div>
                <div class="ui mini statistic">
                  <div class="value">
                    {{formatDecimals 2 mt.frequency.average}} Hz
                  </div>
                  <div class="label">
                    Monthly Avg
                  </div>
                </div>
              </div>
              <div class="ten wide column">
                <div class="ui vertically divided grid">
                  <div class="row no-padding-bottom">
                    <div class="sixteen wide column">
                      <div class="ui grid">
                        <div class="seven wide column no-padding-right">
                          <div class="ui mini statistic">
                            <div class="value">
                              <i class="long arrow down icon"></i> {{formatDecimals 2 mt.frequency.min}}
                            </div>
                            <div class="label">
                              Min
                            </div>
                          </div>
                        </div>
                        <div class="nine wide column">
                          <p style="margin-top: 5px;">on {{formatDateShort mt.frequency.minDate}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row no-padding-top no-padding-bottom">
                    <div class="sixteen wide column">
                      <div class="ui grid">
                        <div class="seven wide column no-padding-right">
                          <div class="ui mini statistic">
                            <div class="value">
                              <i class="long arrow up icon"></i> {{formatDecimals 2 mt.frequency.max}}
                            </div>
                            <div class="label">
                              Max
                            </div>
                          </div>
                        </div>
                        <div class="nine wide column">
                          <p style="margin-top: 5px;">on {{formatDateShort mt.frequency.maxDate}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/if}}

      {{#if mt.thd}}
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="ui divided grid">
              <div class="six wide center aligned column" style="background: #f7f7f7;">
                <div class="ui large header no-margin-bottom">THD</div>
                <div class="ui mini statistic">
                  <div class="value">
                    {{formatDecimals 2 mt.thd.average}}
                  </div>
                  <div class="label">
                    Monthly Avg
                  </div>
                </div>
              </div>
              <div class="ten wide column">
                <div class="ui vertically divided grid">
                  <div class="row no-padding-bottom">
                    <div class="sixteen wide column">
                      <div class="ui grid">
                        <div class="seven wide column no-padding-right">
                          <div class="ui mini statistic">
                            <div class="value">
                              <i class="long arrow down icon"></i> {{formatDecimals 2 mt.thd.min}}
                            </div>
                            <div class="label">
                              Min
                            </div>
                          </div>
                        </div>
                        <div class="nine wide column">
                          <p style="margin-top: 5px;">on {{formatDateShort mt.thd.minDate}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row no-padding-top no-padding-bottom">
                    <div class="sixteen wide column">
                      <div class="ui grid">
                        <div class="seven wide column no-padding-right">
                          <div class="ui mini statistic">
                            <div class="value">
                              <i class="long arrow up icon"></i> {{formatDecimals 2 mt.thd.max}}
                            </div>
                            <div class="label">
                              Max
                            </div>
                          </div>
                        </div>
                        <div class="nine wide column">
                          <p style="margin-top: 5px;">on {{formatDateShort mt.thd.maxDate}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/if}}

      {{#if mt.uptime}}
        <div class="column">
          <div class="ui fluid card">
            <div class="content">
              <div class="ui divided grid">
                <div class="sixteen wide center aligned column" style="background: #f7f7f7;">
                  <div class="ui large header no-margin-bottom">OPQBox Uptime</div>
                  <div class="ui mini statistic">
                    <div class="value">
                      {{formatDecimals 2 mt.uptime}} %
                    </div>
                    <div class="label">
                      Monthly Avg
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
    {{/let}}
  {{/if}}
</template>