<template name="eventList">
  <table id="event-list" class="ui small selectable celled table" style="border: none;">
    <thead>
    <tr>
      <th>Event ID</th>
      <th>Type</th>
      <th>Boxes Triggered</th>
      <th>Boxes Received</th>
      <th>Description</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
      {{#each event in events}}
        <tr id={{event._id.valueOf}}>
          <td>{{event.event_number}}</td>
          <td>{{event.type}}</td>
          <td>{{event.boxes_triggered}}</td>
          <td>{{event.boxes_received}}</td>
          <td>{{event.description}}</td>
          <td>{{formatDate event.event_start}}</td>
          <td>{{formatDate event.event_end}}</td>
          <td>
            <a href="{{getRoutePath 'eventDetailsRoute'}}/{{event.event_number}}" class="ui basic button">
              View
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>