<template name="eventList">
  <table id="event-list" class="ui small selectable celled table" style="border: none;">
    <thead>
    <tr>
      <th>Event ID</th>
      <th>Type</th>
      <th>Boxes Triggered</th>
      <th>Boxes Received</th>
      <th>Description</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
      {{#each event in events}}
        <tr id={{event._id.valueOf}}>
          <td>{{event.event_id}}</td>
          <td>{{event.type}}</td>
          <td>{{event.boxes_triggered}}</td>
          <td>{{#if event.boxes_received}}{{event.boxes_received}}{{else}}None{{/if}}</td>
          <td>{{event.description}}</td>
          <td>{{formatDate event.target_event_start_timestamp_ms}}</td>
          <td>{{formatDate event.target_event_end_timestamp_ms}}</td>
          <td>
            <a href="{{getRoutePath 'eventDetailsRoute'}}/{{event.event_id}}" class="ui basic button">
              View
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>