lz4         # lz4 compression
numpy       # numpy
pymongo     # mongo db
protobuf    # protocol buffers
scipy       # Scientific python
zmq         # ZeroMQ
pandas      # Data Wrangling in profilers
psutil      # System stats, memory, disk, network, etc
ruptures    # Change point detection
shapely     # Point in polygon
