#coala-bears # static analysis and linting
lz4         # lz4 compression
matplotlib  # Plotting and point-in-polygon algorithms
numpy       # numpy
pymongo     # mongo db
protobuf    # protocol buffers
readline    # GNU readline
scipy       # Scientific python
typing      # type hints for python < 3.5
zmq         # ZeroMQ
